.main {
  background-color: rgb(21 31 43);
  display: flex;
  justify-content: space-around;
  height: 35vh;
  width: 35vw;
  flex-direction: column;
  align-items: center;
}
.logo {
  width: 4vw;
  height: 6vh;
}

.text h1 {
  color: white;
  font-size: 15px;
  font-family: Verdana;
  font-weight: bold;
}

.input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgb(21 31 43);
  width: 200px;
  height: 25px;
  color: grey;
  font-family: verdana;
  border-radius: 1px;
  border: 1px grey solid;
}

.SignUpBtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: white;
  width: 200px;
  height: 25px;
  color: rgb(21 31 43);
  font-family: verdana;
  border-radius: 50px;
  border: 1px white solid;
  text-align: center;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
